<mat-toolbar color="primary" class="mat-elevation-z12">

    <div>
      <mat-icon [matMenuTriggerFor]="appMenu" class="mat-elevation-z2"
        matTooltip="menu"
      >menu</mat-icon> &nbsp;
    </div>
  
    <div>HTML &amp; SCSS Notes for Angular</div>
  
    <mat-icon [routerLink]="['/help']" class="mat-elevation-z2"
    matTooltip="Help"
    >help</mat-icon>
  
  </mat-toolbar>


<mat-menu #appMenu="matMenu">
  <button mat-menu-item [routerLink]="['/']"><mat-icon>home</mat-icon></button>
</mat-menu>